<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zzx.dao.LoginDao">

    <resultMap id="Login" type="Login">
        <id property="user.id" column="user_id" />
        <result property="ip" column="login_ip"/>
        <result property="time" column="login_time"/>
    </resultMap>

    <delete id="deleteLoginByUserId" parameterType="Integer">
        DELETE FROM login WHERE user_id = #{value}
    </delete>

    <insert id="saveLogin" parameterType="Login">
        INSERT INTO login values(#{time},#{ip},#{user.id})
    </insert>

    <update id="updateLogin" parameterType="Login">
        update login
        set login_ip = #{ip},
        login_time = #{time}
        where user_id = #{user.id}
    </update>

    <select id="findLoginByUserId" parameterType="Integer" resultMap="Login">
        SELECT user_id, login_ip, login_time
        FROM login
        WHERE user_id = #{userId}
    </select>

</mapper>